body {
    background-color: white;
}

p {
    text-align: center;
    font-family: Arial;
    font-weight: bold;
}
img {
    width: 50%;
}
.contenido {
    text-align: center;
    margin: 5%;
}